@import '../../../../variables';

.ModalTitle {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.ButtonContainer {
  @include flex-wrapper(row, flex-end);

  width: 100%;

  * {
    margin-left: 10px;
  }
  
  button {
    text-decoration: none;
    color: $color-white;
    transition: $transition;
    font-size: 15px;
    text-transform: uppercase;
    padding: 9px 30px 10px;
    border: 1px solid $color-white;
    background: rgba(56, 58, 71, 0.55);
    align-self: flex-end;
    cursor: pointer;
    outline: none;
  }

  button{
    &:hover,
    &:focus,
    &:active {
      background: rgba(255, 255, 255, 0.1);
      transition: $transition;
      color: $color-white;
    }
  }

  .Confirm {
    background: rgba(255, 0, 81, 0.4);

    &[disabled] {
      cursor: not-allowed;
    }

    &:hover,
    &:focus[disabled=false],
    &:active[disabled=false] {
      &:not([disabled]) {
        background: rgba(255, 0, 81, 0.6);
        transition: $transition;
        color: $color-white;
      }
    }
  }
}