@import '../../../variables';

.Control {
  width: 90%;
  margin: 10px auto;

  &:last-child {
    margin-bottom: 50px;
  }
}

.Label {
  @include flex-wrapper;
  
  color: $color-white;
  margin-bottom: 10px;
}