@import '../../variables';

.Wrapper {
  @include flex-wrapper;

  border-bottom: 2px solid $color-border;
  padding: 0 30px;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: $transition;

  &.Open {
    height: 250px;
  }

  &.Close {
    height: 0;
    border-bottom: 0;
  }
}

.Preview {
  width: 49%;
  display: flex;
  justify-content: center;
}

.Pattern {
  width: 49%;
  margin-bottom: -60px;
}