@import '../../variables';

.Form {
  @include flex-wrapper(column, flex-start, flex-start);

  input[type='text'] {
    height: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 0 10px;
    color: $color-gray;
    border: none;
    outline: none;
    width: 300px;
    max-width: 100%;
  }

  label {
    color: $color-white;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.ButtonContainer {
  @include flex-wrapper(row, flex-end);

  width: 100%;

  * {
    margin-left: 10px;
  }
  
  input, 
  button {
    text-decoration: none;
    color: $color-white;
    transition: $transition;
    font-size: 15px;
    text-transform: uppercase;
    padding: 9px 30px 10px;
    border: 1px solid $color-white;
    background: $color-btn-bg;
    align-self: flex-end;
    cursor: pointer;
    outline: none;
  }

  button{
    &:hover,
    &:focus,
    &:active {
      background: $color-btn-hover-bg;
      transition: $transition;
      color: $color-white;
    }
  }

  input {
    background: $color-input-bg;

    &[disabled] {
      cursor: not-allowed;
    }

    &:hover,
    &:focus[disabled=false],
    &:active[disabled=false] {
      &:not([disabled]) {
        background: $color-input-focus-bg;
        transition: $transition;
        color: $color-white;
      }
    }
  }
}