.carousel .thumbs-wrapper {
  display: none;
}

.carousel .slide {
  height: calc(100vh - 79px);
  position: relative;
  z-index: 1;
}

.carousel .slide > div {
  height: 100%;
}

.carousel .slide.selected {
  z-index: 5;
}

.carousel .slide img {
  width: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
}

.carousel .slide .legend {
  background: transparent;
}

.carousel .control-dots {
  padding: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
  cursor: pointer;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56,58,71,0.3);
  z-index: 1;
}

.carousel .carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow:before {
  font-family: "css-helper";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  border: 0;
}

.carousel .control-next.control-arrow:before {
  content: '\e802';
  border: 0;
}

.carousel .control-prev.control-arrow:before {
  content: '\e801';
  border: 0;
}