@import '../../../variables';

$position: calc(50% - 5em);
$size: 10em;
$pseudo-width: 5.2em;
$pseudo-height: 10.2em;

.Loader {
  color: $color-light-pink;
  font-size: 11px;
  text-indent: -99999em;
  position: fixed;
  left: $position;
  top: $position;
  width: $size;
  height: $size;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
  border-radius: 50%;

  &:before,
  &:after {
    position: absolute;
    content: '';
    border-radius: 50%;
  }

  &:before {
    width: $pseudo-width;
    height: $pseudo-height;
    background: $color-light-gray;
    border-radius: $pseudo-height 0 0 $pseudo-height;
    top: -0.1em;
    left: -0.1em;
    transform-origin: $pseudo-width 5.1em;
    animation: load2 2s infinite ease 1.5s;
  }

  &:after {
    width: $pseudo-width;
    height: $pseudo-height;
    background: $color-light-gray;
    border-radius: 0 $pseudo-height $pseudo-height 0;
    top: -0.1em;
    left: 5.1em;
    transform-origin: 0px 5.1em;
    animation: load2 2s infinite ease;
  }
}

@-webkit-keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}