@import '../../variables';

.Title {
  color: $color-white;
  font-size: 25px;
  margin: 20px;
  text-align: center;
}

.Wrapper {
  width: 60%;
  margin: 20px auto;

  @include mobile {
    width: 100%;
  }
}