@import '../../../../variables';

.Item {
  display: flex;
  height: 50px;
  align-items: center;
  color: $color-white;
  padding: 0 30px;
  justify-content: space-between;
  border-bottom: 2px solid $color-border;
  cursor: pointer;
  font-size: 20px;
  transition: all .1s ease-in-out;

  &:hover {
    background-color: $color-pink;
    transition: all .1s ease-in-out;
  }

  &:last-child {
    border: 0;
  }
}

.Button {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all .1s ease-in-out;

  &:hover {
    text-shadow: 0 0 1px $color-white;
    transition: all .1s ease-in-out;
  }
}