$height: 120px;

.Examples {
  width: 100%;
  height: $height;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
}

.Open {
  height: $height;
  transition: all .3s ease-in-out;
}

.Close {
  height: 0;
  transition: all .3s ease-in-out;
}