$font: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$color-gray: #383a47;
$color-light-gray: #525671;
$color-dark-pink: #822a4e;
$color-pink: #a81e45;
$color-light-pink: #c21d54;
$color-white: #ffffff;
$color-error: #ff6d9d;
$color-border: #868aa2;
$color-border-light: #7a7b84;
$color-code-bg: #0d0e10;
$color-code: #b9b9bb;
$color-btn-bg: rgba(56, 58, 71, 0.55);
$color-btn-hover-bg: rgba(255, 255, 255, 0.1);
$color-input-bg: rgba(255, 0, 81, 0.4);
$color-input-focus-bg: rgba(255, 0, 81, 0.6);
$color-backdrop-bg: rgba(255, 255, 255, 0.5);

$transition: all .2s ease-in-out;

$header-height: 79px;
$top-section-height: 128px;

$mobile-width: 800px;
$tablet-width: 1024px;

$z-index: (
  backdrop: 10,
  popup: 20
);

@mixin xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin flex-wrapper($dir: row, $just: space-between, $align: center, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}