@import '../../variables.scss';

.Editor {
  @include flex-wrapper(row,start, stretch);

  min-height: calc(100vh - 80px);

  @include mobile {
    flex-direction: column;
  }
}

.PreviewContainer {
  @include flex-wrapper(column);

  width: 70%;
  padding: 10px;

  @include mobile {
    width: 100%;
  }
}

.Preview {
  width: 80%;

  & * {
    @include flex-wrapper;
    height: calc(100vh - 320px);
    margin: 0 auto;
  }

  @include mobile {
    width: 100%;
    min-height: 220px;
    max-height: calc(100vh - 420px);
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.TabsContainer {
  width: 30%;

  @include mobile {
    width: 100%;
  }
}

.ToggleLink {
  align-self: flex-start;
  margin: 5px 0;

  @include mobile {
    margin: 10px 0;
  }
}

.SaveButton {
  text-decoration: none;
  color: $color-white;
  transition: $transition;
  font-size: 15px;
  text-transform: uppercase;
  padding: 9px 30px 5px;
  border: 1px solid $color-white;
  background: rgba(56, 58, 71, 0.55);
  margin-left: 10px;
  align-self: flex-end;

  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 255, 255, 0.1);
    transition: $transition;
    color: $color-white;
  }

  @include mobile {
    margin-top: 10px;
  }
}

.ButtonContainer {
  align-self: flex-end;
  display: flex;
}