@import '../../variables.scss';

.Editor {
  @include flex-wrapper(row,start, stretch);

  min-height: calc(100vh - #{$header-height});
}

.PreviewContainer {
  @include flex-wrapper(column);

  width: 70%;
  padding: 10px;
}

.Preview {
  width: 80%;
}

.TabsContainer {
  width: 30%;
}

.ToggleLink {
  align-self: flex-start;
  margin: 15px 0;
}