@import '../../variables.scss';

.Editor {
  @include flex-wrapper(row,start, stretch);

  min-height: calc(100vh - #{$header-height});
}

.PreviewContainer {
  @include flex-wrapper(column);

  width: 70%;
  padding: 10px;
}

.Preview {
  width: 80%;

  & * {
    @include flex-wrapper;
    height: calc(100vh - 320px);
    margin: 0 auto;
  }
}

.TabsContainer {
  width: 30%;
}

.ToggleLink {
  align-self: flex-start;
  margin: 5px 0;
}

.SaveButton {
  text-decoration: none;
  color: $color-white;
  transition: $transition;
  font-size: 15px;
  text-transform: uppercase;
  padding: 9px 30px 5px;
  border: 1px solid $color-white;
  background: rgba(56, 58, 71, 0.55);
  align-self: flex-end;

  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 255, 255, 0.1);
    transition: $transition;
    color: $color-white;
  }
}