.Pre {
  width: 100%;
  overflow: auto;
  background: #0d0e10;
  padding: 10px;
  margin: 20px auto;
}

.Code {
  display: block;
  color: #b9b9bb;
  width: 100%;
}

.Title {
  color: #fff;
  font-size: 20px;
}

.Wrapper {
  margin-bottom: 60px;
}

.Button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  float: right;

  &:hover {
    text-shadow: 0 0 1px #fff;
    transition: all .1s ease-in-out;
  }
}